{{- define "custom.custom.configuration.header" -}}
## Custom configuration
{{- end -}}

{{- define "custom.custom.configuration" -}}
{{ template "custom.custom.configuration.header" . }}

### InfluxDB metrics
```
'measurement': 'comcast_data_usage',
'fields': {
        'used',
        'total',
        'unit'
}
```
{{- end -}}
