{{- define "custom.custom.configuration.header" -}}
## Custom configuration
{{- end -}}

{{- define "custom.custom.configuration" -}}
{{ template "custom.custom.configuration.header" . }}

The default login details (change ASAP) are:

* login:nzbget
* password:tegbzn6789
{{- end -}}
