{{- define "custom.custom.configuration.header" -}}
## Custom configuration
{{- end -}}

{{- define "custom.custom.configuration" -}}
{{ template "custom.custom.configuration.header" . }}

### Matching pors

You need to ensure that the ingress and service ports match
or you will not be able to stream.

This is because the apache-musicindex will use the schema and
port from the incomming request to generate the URL in the
playlist.m3u.

{{- end -}}
