[submodule "kube-plex"]
	path = kube-plex
	url = git@github.com:billimek/kube-plex.git
[submodule "traefik-forward-auth0"]
	path = traefik-forward-auth0
	url = git@github.com:billimek/traefik-forward-auth0.git
