[submodule "kube-plex"]
	path = .submodules/kube-plex
	url = https://github.com/billimek/kube-plex.git
[submodule ".submodules/sig-storage-local-static-provisioner"]
	path = .submodules/sig-storage-local-static-provisioner
	url = https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner.git
