{{- define "custom.custom.configuration.header" -}}
## Custom configuration
{{- end -}}

{{- define "custom.custom.configuration" -}}
{{ template "custom.custom.configuration.header" . }}

The container in this chart requires the wg0.conf to be in /etc/wireguard
for it to run. Either add it under configSecret or under persistence.
{{- end -}}
