{{- define "custom.custom.configuration.header" -}}
## Custom configuration
{{- end -}}

{{- define "custom.custom.configuration" -}}
{{ template "custom.custom.configuration.header" . }}

For information on how to configure this application, please refer to https://owncast.online/docs/configuration/.
{{- end -}}
