{{- define "custom.custom.configuration.header" -}}
## Custom configuration
{{- end -}}

{{- define "custom.custom.configuration" -}}
{{ template "custom.custom.configuration.header" . }}

Be sure to save your initial SuperUser password that is printed out in the logs on first run. `kubectl logs <pod name> -n <namespace>`
{{- end -}}
